.contact-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  
  padding: 40px 20px;
  margin-top: 80px; 

  background:transparent;
  font-family: Arial, sans-serif;
  flex-wrap: wrap; 
}

.contact-card {
  background:white;
  width: 350px;
  
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  box-sizing: border-box;
  text-align: left;

  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s ease forwards; 
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);    
  }
}

.card-title {
  font-size: 24px;
  color: #6b3fa0; 
  margin-bottom: 16px;
}

.card-description {
  font-size: 16px;
  color: #777;
  margin-bottom: 16px;
  line-height: 1.4;
}

.card-text {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
 
 
}


.social-icons {
  margin-top: 16px;
}

.social-icons a {
  margin-right: 20px;
  font-size: 40px;
  
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #6b3fa0; 
}

.social-icons a:last-child {
  margin-right: 0; 
}

.icon-circle {
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.info-text {
  font-size: 16px;
  color: #000;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.service-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.service-heading {
  margin: 0;
  font-size: 18px;
  color: #a6192e; 
}

.service-subtitle {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.social-icons {
  margin-top: 16px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #6b3fa0; 
}



.map-card {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  flex: 1;
  min-width: 400px;
}

.map-container {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
}

.info-window {
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.info-window h3 {
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.info-window p {
  color: #7f8c8d;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .contact-card {
    width: 100%;
    max-width: 400px;
  }
}
